/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Spicy+Rice&display=swap");

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

/* header */

header {
  border-bottom: 2px solid #5a2a0f;
  height: 12vh;
  background-color: #224221;
}

#logo {
  margin-left: 50px;
  height: 100%;
  float: left;
}

/* navigation */

nav {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

nav span {
  border: 3px solid #5a2a0f;
  flex: 1 1 20%;
  font-size: x-large;
  padding: 15px;
  margin-right: 15px;
  display: inline-block;
  background-color: #003300;
  text-decoration: none;
  color: aliceblue;
}

nav span:hover {
  background-color: #008000;
  color: #fff;
}

nav span:active {
  border: 4px solid #211714;
}

#active {
  background-color: #006400;
}

/* Body */

/* General */

html,
body {
  height: 100%;
}

p,
li {
  font-family: "Noto Sans", sans-serif;
  font-size: large;
  color: aliceblue;
}

h1 {
  font-family: "Spicy Rice", cursive;
  font-size: xx-large;
  color: aliceblue;
}

h2 {
  font-family: "Spicy Rice", cursive;
  font-size: x-large;
  color: aliceblue;
}

h3,
h4,
h5,
h6 {
  font-family: "Spicy Rice", cursive;
  font-size: larger;
  color: aliceblue;
}

.content_wrapper {
  background: linear-gradient(to bottom, lightblue, #004daa 30%);
  min-height: 100%;
  position: relative;
}

.smaller_content {
  width: 80%;
  min-height: 100vh;
  border-left: 10px solid #5a2a0f;
  border-right: 10px solid #5a2a0f;
  background: linear-gradient(to bottom, #003300, #8b4513 10%, #5a2a0f 50%);
}

/* Instructions/Explanations */

.instructions {
  text-align: center;
  font-size: large;
  width: 80%;
  padding: 50px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 30px;
  border-bottom: 3px solid black;
  border-radius: 20px;
}

#left-about {
  flex-basis: 60%;
  padding: 25px;
}

#left-about > p {
  font-size: xx-large;
}

#disclaimer {
  width: 40%;
  padding: 20px;
  border: 3px solid darkred;
  border-radius: 30px;
  background-color: aliceblue;
  flex-basis: 30%;
}

#disclaimer > p {
  color: red;
  font-size: small;
  line-height: normal;
}

#disclaimer > h1 {
  color: darkred;
}

.instructions > p {
  flex-basis: 100%;
  font-size: x-large;
  line-height: 30px;
  padding: 20px;
}

#explanation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  color: black;
}

#explanation div {
  flex: 1 1 30%;
  text-align: center;
  padding: 30px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-radius: 15px;
  margin: 10px;
  background-color: #2b5329;
}

#explanation h1 {
  margin-bottom: 30px;
}

/* Index page */
/* Welcome section  */

#welcome_sec {
  width: 80%;
  border-left: 10px solid #5a2a0f;
  border-right: 10px solid #5a2a0f;
  background: linear-gradient(to bottom, #003300, #8b4513 10%);
  padding: 20px 0;
}

#welcome_img {
  width: 80%;
}

#welcome_img > img {
  height: 600px;
  width: 70%;
  border-radius: 50%;
  border: 3px solid lightblue;
  position: relative;
  left: 15%;
}

#welcome_img figcaption {
  text-align: center;
}

#welcome_sec h1,
#welcome_sec h2 {
  text-align: center;
  padding-top: 10px;
}

#welcome_sec p {
  width: 90%;
  padding: 10px 0;
  text-align: center;
}

/* World map section */

#world_map {
  width: 100%;
  height: 100vh;
  background: url(../images/general/world_map.jpg) center/cover no-repeat;
  position: relative;
  border: 4px solid #5a2a0f;
}

.hover_box {
  border: 3px solid #5a2a0f;
  position: absolute;
  opacity: 0;
}

.hover_box h1 {
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
  color: black;
  background-color: #5a2a0f;
  position: relative;
  top: 45%;
  opacity: 0;
}

.hover_box:hover {
  opacity: 1;
  cursor: pointer;
}

.hover_box:hover h1 {
  opacity: 1;
}

#north_america {
  top: 5%;
  left: 15%;
  width: 20%;
  height: 40%;
}

#south_america {
  top: 42%;
  left: 27%;
  width: 14%;
  height: 40%;
}

#antartica {
  bottom: 0%;
  width: 100%;
  height: 15%;
}

#europe {
  top: 5%;
  left: 46%;
  width: 14%;
  height: 30%;
}

#asia {
  top: 5%;
  left: 60%;
  width: 35%;
  height: 40%;
}

#australia {
  top: 53%;
  left: 81%;
  width: 12%;
  height: 22%;
}

#africa {
  top: 28%;
  left: 45%;
  width: 20%;
  height: 42%;
}

/* Photo section */

/* Section Info */

#photo_sec {
  width: 80%;
  border-left: 10px solid #5a2a0f;
  border-right: 10px solid #5a2a0f;
  background: linear-gradient(to bottom, #8b4513, #5a2a0f 60%);
}

#photo_sec h1 {
  text-align: center;
  padding: 15px;
}

.wrapper {
  padding: 20px 0;
  width: 100%;
  position: relative;
}

.left {
  border: 3px solid #5a2a0f;
  position: relative;
  width: 40%;
  left: 0;
  display: inline-block;
  margin-left: 30px;
  border-radius: 30%;
}

.left h2 {
  text-align: center;
  padding: 15px;
}

.left p {
  padding: 0px 30px 30px 30px;
}

.separator {
  opacity: 0;
}

.right {
  border: 6px solid #5a2a0f;
  border-radius: 40%;
  width: 40%;
  position: relative;
  left: 55%;
  display: inline-block;
}

.right h2 {
  text-align: center;
  padding: 15px;
}

.right p {
  padding: 0px 30px 40px 30px;
}

.center {
  border: 4px solid #5a2a0f;
  position: relative;
  width: 40%;
  left: 10%;
  display: inline-block;
  border-radius: 15%;
}

.center h2 {
  text-align: center;
  padding: 15px;
}

.center p {
  padding: 0px 30px 50px 30px;
}

.center ul {
  margin: 0 0 15px 25px;
}

.center li {
  padding: 5px 15px;
}

/* Mini gallery */

.mini_gallery {
  width: 80%;
  height: 75vh;
  overflow: hidden;
  border: 4px solid black;
  border-radius: 10px;
  position: relative;
}

.mini_gallery img {
  max-width: 100%;
  position: absolute;
  top: 0;
}

.mini_gallery img:target {
  z-index: 6;
}

.img_selection {
  width: 80%;
  padding-top: 20px;
}

.img_selection a {
  width: 100%;
  height: 100%;
  display: block;
}

.img_selection span {
  flex: 1 1;
  border: 4px solid black;
  height: 100px;
  border-radius: 5px;
  margin: 10px 15px;
}

#img_link_box1 {
  background: url(../images/weekly/abuck.jpg) center/cover no-repeat;
}
#img_link_box2 {
  background: url(../images/weekly/elephant.jpg) center/cover no-repeat;
}
#img_link_box3 {
  background: url(../images/weekly/fox.jpg) center/cover no-repeat;
}
#img_link_box4 {
  background: url(../images/weekly/leopard.jpg) center/cover no-repeat;
}
#img_link_box5 {
  background: url(../images/weekly/amonkey.jpg) center/cover no-repeat;
}

.img_selection span:hover {
  transform: translateY(-5px);
}

/* Footer */

footer {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 41, 3);
  font-size: xx-large;
  position: absolute;
  bottom: 0;
  margin-bottom: -8vh;
}

footer i {
  color: aliceblue;
}

footer i:hover {
  transform: translateY(5px);
}

/* Flex grid */

.flex_contener {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 8vh;
}

.flex_contener a {
  text-decoration: none;
}

.flex_item {
  flex: 0 1 25%;
  margin: 8% 3%;
  background-color: #2b5329;
  border: 2px solid black;
  border-radius: 30px;
  transition: flex 1s linear;
}

.flex_item:hover {
  border: 5px solid #162a14;
  border-radius: 35px;
}

.flex_item figure {
  transition: opacity 1s ease 0.5s;
}

.flex_item figure img {
  max-width: 100%;
  max-height: 70%;
  border-bottom: 2px solid black;
  border-radius: 28px;
}

.flex_item figcaption {
  color: aliceblue;
  font-size: xx-large;
  text-align: center;
  padding: 30px;
  font-family: "Spicy Rice", cursive;
}

.flex_item figcaption:hover {
  color: rgb(171, 202, 230);
}

/* Index flex grid */

.smaller_flex_item  .soon {
  cursor: not-allowed;
  text-align: center;
  color: darkred;
  font-size: xx-large;
  margin: 5px;
}

.index_flex_contener {
  background-color: rgb(6, 6, 92);
  border: 4px solid #5a2a0f;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 3vh;
}

.index_flex_contener a {
  text-decoration: none;
}

.smaller_flex_item {
  flex: 0 1 20%;
  margin: 30px 80px;
  background-color: #2b5329;
  border: 2px solid black;
  border-radius: 30px;
  transition: flex 1s linear;
}

.smaller_flex_item:hover {
  border: 5px solid #162a14;
  border-radius: 35px;
}

.smaller_flex_item figure {
  transition: opacity 1s ease 0.5s;
}

.smaller_flex_item figure img {
  max-width: 100%;
  max-height: 70%;
  border-bottom: 2px solid black;
  border-radius: 28px;
}

.smaller_flex_item figcaption {
  color: aliceblue;
  font-size: xx-large;
  text-align: center;
  padding: 30px;
  font-family: "Spicy Rice", cursive;
}

.smaller_flex_item figcaption:hover {
  color: rgb(171, 202, 230);
}
/* Animal page */

/* Breadcrumbs Section */

.breadcrumbs {
  z-index: 3;
  position: sticky;
  top: 0;
  right: 0;
  float: right;
  background-color: #2b5329;
  border: 2px solid #211714;
  border-radius: 20px;
  text-align: center;
  width: 190px;
  padding: 15px 0;
  margin: 5px 10px;
}

.breadcrumbs a {
  text-decoration: none;
}

.breadcrumbs h1:hover {
  color: rgb(171, 202, 230);
}

/* Checkbox style */

.hidden {
  position: absolute;
  top: -100%;
  opacity: 0;
}

input[type="checkbox"]:checked + .flex_item {
  flex: 100%;
  height: min-content;
  margin-bottom: 10px;
  transition: flex 1s linear;
  order: -1;
}

input[type="checkbox"]:checked + .flex_item figure {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

input[type="checkbox"]:checked + .flex_item article {
  display: contents;
}

/* Card style */

.card > article {
  display: none;
}

.card {
  position: relative;
  cursor: pointer;
}

.card_left {
  width: 70%;
  float: left;
  background-color: #8b4513;
  border-radius: 30px 0 0 30px;
  border-right: 2px solid black;
}

.card_right {
  background-color: #2b5329;
  width: 30%;
  float: right;
  border-radius: 0 30px 0 0;
}

.card_right h1 {
  text-align: center;
  padding: 10px;
  font-size: xx-large;
}

.card_right h2 {
  margin: 15px;
}

.card_right h3 {
  font-family: "Noto Sans", sans-serif;
  margin: 0 20px;
}

.card_gallery {
  overflow: hidden;
  width: 100%;
  height: 40vh;
  border-bottom: 2px solid black;
  padding: 15px 0px;
  text-align: center;
}

.card_gallery img {
  height: 100%;
  border-radius: 10px;
}

.animal_info {
  padding: 15px 0;
}
.animal_info h2 {
  padding-left: 20px;
  margin: 10px 0;
}

.animal_info p {
  line-height: 25px;
  padding: 0 15px;
}

/* Contact us page */

#form {
  width: 90%;
  position: relative;
}

.form_selector {
  margin: 20px 0;
  border: 4px solid #5a2a0f;
  padding: 20px;
  display: inline-block;
  background-color: #2b5329;
  color: black;
}

.form_selector:hover {
  background-color: #008000;
  color: lightsteelblue;
}

#feedback_form {
  display: none;
}

#new_animal_form {
  display: none;
  position: relative;
  top: 0;
  left: 0;
}

#feedback_form:target {
  display: contents;
}

#new_animal_form:target {
  display: contents;
}

form p {
  width: 50%;
  text-align: left;
  margin-left: 0;
  padding: 20px 30px;
  font-size: large;
}

form label {
  font-size: larger;
  display: block;
  margin-left: 35px;
  margin-bottom: 10px;
  color: aliceblue;
}

form h1,
form h2 {
  margin: 10px 0 15px 30px;
}

form input:focus {
  outline: 3px solid #211714;
  border: none;
}

form input[type="text"],
form input[type="email"] {
  margin-left: 40px;
  width: 15%;
  margin-bottom: 10px;
  border: 2px solid #211714;
  background-color: #006400;
  color: aliceblue;
}

form input[type="radio"] {
  float: left;
  margin-left: 50px;
  margin-top: 5px;
}

form textarea {
  font-size: x-large;
  background-color: #006400;
  color: aliceblue;
  border: 2px solid #211714;
  width: 40%;
  height: 300px;
  margin-left: 30px;
}

form textarea:focus {
  outline: 3px solid #211714;
  border: none;
}

form input[type="submit"],
form input[type="reset"] {
  width: 15%;
  height: 50px;
  text-align: center;
  font-size: larger;
  margin: 20px 10px 20px 25px;
  background-color: #003300;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover {
  background-color: #008000;
}

form input[type="submit"]:active,
form input[type="reset"]:active {
  background-color: #005c00;
  color: white;
}

form select {
  margin: 15px 30px;
  font-size: large;
  background-color: #005c00;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  width: 15%;
  text-align: center;
  padding: 5px;
}

#bigger_label {
  font-size: xx-large;
  margin: 15px 30px;
}

.radio {
  margin-left: 70px;
}

/* About us page */

#about_us {
  width: 90%;
  border-left: 10px solid #5a2a0f;
  border-right: 10px solid #5a2a0f;
  background: linear-gradient(to bottom, #2b5329, #8b4513 10%, #5a2a0f 50%);
}

#about_us div {
  position: relative;
}

#about_us img {
  height: 100%;
  margin: 20px 0 20px 20px;
  border: 3px solid black;
}

.text_right {
  height: 40vh;
}

.text_right * {
  display: inline-block;
  position: relative;
}

.text_right h1 {
  position: absolute;
  top: 20%;
  right: 25%;
  font-size: xx-large;
}

.text_right p {
  position: absolute;
  top: 50%;
  right: 10%;
  width: 33%;
  font-size: larger;
}

#text_left {
  height: 40vh;
}

#text_left * {
  display: inline-block;
  position: relative;
}

#text_left h1 {
  position: absolute;
  top: 20%;
  left: 25%;
  font-size: xx-large;
}

#text_left p {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 33%;
  font-size: larger;
}

#text_left img {
  float: right;
  margin: 20px 20px 20px 0;
  border: 2px solid black;
}

#last_sec {
  text-align: center;
}

#last_sec p {
  margin-top: 150px;
  margin-bottom: 50px;
  width: 60%;
  font-size: xx-large;
}

iframe {
  width: 80%;
  height: 70vh;
  border: 2px solid #211714;
  margin: 15px;
}

/* Comming soon elements */

.unavailable:hover {
  cursor: not-allowed;
}

/* Media queries*/

@media screen and (max-width: 1450px) {
  /* General */

  h1 {
    font-size: x-large;
  }

  h2,
  h3 {
    font-size: larger;
  }

  p {
    font-size: large;
  }

  /* Index */

  #welcome_img {
    width: 100%;
    left: 0;
  }

  #welcome_img img {
    width: 80%;
    left: 10%;
  }

  .index_flex_contener {
    display: flex;
    background-color: #5a2a0f;
  }

  #world_map {
    display: none;
  }

  .right {
    padding: 30px;
  }

  .center {
    border: 3px solid #301d17;
  }

  .mini_gallery {
    height: 530px;
  }

  .img_selection span {
    height: 75px;
  }

  /* About us */

  #about_us p {
    font-size: medium;
    width: 40%;
  }

  #about_us img {
    width: 50%;
  }

  #about_us div {
    padding: 50px 0;
  }

  #text_left h1,
  #text_left p {
    left: 20px;
    padding: 10px;
  }

  .text_right h1,
  .text_right p {
    right: 20px;
  }

  #last_sec * {
    margin-top: 15px;
  }

  #last_sec p {
    margin-top: 10px;
    width: 80%;
  }

  /* Contact us */

  .instructions p {
    font-size: medium;
  }

  #form p {
    font-size: medium;
    width: 100%;
  }

  #form input[type="text"],
  #form input[type="email"] {
    width: 40%;
    height: 30px;
    font-size: large;
  }

  #form textarea {
    width: 80%;
    font-size: large;
  }

  #bigger_label {
    font-size: larger;
    font-family: "Spyci Rise", cursive;
  }

  form select {
    width: 30%;
  }

  form input[type="submit"],
  form input[type="reset"] {
    width: 30%;
  }

  /* Continents */

  .instructions #left-about p {
    font-size: medium;
  }

  .instructions #disclaimer > p {
    font-size: 0.5em;
  }

  .instructions #disclaimer > h1 {
    font-size: 1em;
  }

  /* Category page */

  #explanation p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 780px) {
  /* Header */

  #logo {
    margin-left: 5px;
  }

  /* Body */

  /* Index */

  #welcome_sec {
    width: 100%;
    border: none;
  }

  .smaller_flex_item {
    flex-basis: 25%;
  }

  #photo_sec {
    width: 100%;
    border: none;
  }

  .left {
    width: 70%;
  }

  .right {
    width: 70%;
    left: 25%;
  }

  .center {
    width: 60%;
  }

  .mini_gallery {
    height: 400px;
  }

  /* General */

  .smaller_content {
    width: 100%;
    border: none;
  }

  /* about us */

  #about_us {
    width: 100%;
    border: none;
  }

  iframe {
    width: 100%;
    margin: 0;
  }

  /* Animal page */

  .breadcrumbs {
    width: 100%;
    margin: 0;
  }

  .breadcrumbs h1,
  .breadcrumbs h2 {
    font-size: large;
    display: inline-block;
    padding: 5px;
  }

  .breadcrumbs h2 {
    transform: rotate(-90deg);
  }

  .flex_item {
    flex: 0 1 40%;
    height: 370px;
  }

  .flex_item figcaption {
    padding-top: 5px;
  }

  /* Continetns page */

  #disclaimer {
    flex-basis: 80%;
  }

  #left-about {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 500px) {
  /* Header */

  nav {
    width: 70%;
    align-items: flex-start;
  }

  nav span {
    font-size: small;
    margin: 3px 0 0 0;
    padding: 10px;
  }

  /* Body */
  /* Index */

  #welcome_img {
    width: 75%;
    height: 350px;
  }

  #welcome_img img {
    height: 300px;
    width: 100%;
    left: 0;
  }

  .smaller_flex_item {
    flex-basis: 100%;
  }
  .smaller_flex_item figcaption {
    padding: 50px;
  }

  .mini_gallery {
    height: 200px;
  }

  .img_selection span {
    flex: 0 1 40%;
    height: 70px;
  }

  /* General */

  p,
  li {
    font-size: 0.8em;
  }

  /* About us */

  #about_us div {
    height: auto;
    padding: 10px;
  }

  #about_us img {
    width: 80%;
  }

  #about_us .text_right p,
  #about_us .text_right h1 {
    position: relative;
    display: block;
    text-align: center;
    width: 80%;
  }

  #about_us #text_left p,
  #about_us #text_left h1 {
    position: relative;
    display: block;
    text-align: center;
    width: 80%;
  }

  iframe {
    height: 300px;
  }

  /* Contact */

  .instructions {
    width: 100%;
  }

  .form_selector {
    width: 50%;
    height: 100px;
  }

  form select {
    width: 50%;
  }

  /* Flex items */

  .flex_item {
    flex-basis: 80%;
    height: 425px;
  }

  .instructions #explanation div {
    flex-basis: 100%;
  }

  /* Animal Card */

  .card_gallery img {
    width: 98%;
  }

  .card_right {
    float: left;
    width: 100%;
    border-radius: 30px;
  }

  .card_left {
    width: 100%;
    border-radius: 30px;
  }

  input[type="checkbox"]:checked + .flex_item {
    flex-basis: 70%;
    text-align: center;
  }

  .card_gallery {
    border: none;
  }
}
